<div class="container">
    <div class="container__menu">
        <app-menu-button nameBtn="HISTÓRIA" [routerLink]="['history']"></app-menu-button>
        <app-menu-button nameBtn="PERSONAGENS" [routerLink]="['players']"></app-menu-button>
        <app-menu-button nameBtn="MONSTROS" [routerLink]="['monsters']"></app-menu-button>
        <app-menu-button nameBtn="EQUIPAMENTOS" [routerLink]="['store']"></app-menu-button>
        <app-signature-creator id="author"></app-signature-creator>
    </div>
    <div class="container__content">
        <img src="../../../assets/grupo.jpg" alt="grupo de herois">
    </div>
</div>
