<div class="container">
    <div class="container__menu">
        <app-menu-button nameBtn="HISTÓRIA" [routerLink]="['/home/history']"></app-menu-button>
        <app-menu-button nameBtn="PERSONAGENS" [routerLink]="['/home']"></app-menu-button>
        <app-menu-button nameBtn="MONSTROS" [routerLink]="['/home/monsters']"></app-menu-button>
        <app-menu-button nameBtn="EQUIPAMENTOS" [routerLink]="['/home/store']"></app-menu-button>
        <app-signature-creator id="author"></app-signature-creator>
    </div>
    <div class="container__content">
        <app-player-card></app-player-card>
    </div>
</div>
